{% extends 'base.html.twig' %}

{% block title %}
	ADMIN
{% endblock %}

{% block body %}
	<section class="d-flex justify-content-center flex-column my-5 p-5 w-100">

		<div class="container w-50">
			<h2>Modifictation Game</h2>
			{{form(Admin_form_GameEdition)}}
			</div>


		</section>


	{% endblock %}

