{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}
	<section class="my-5 p-5">
		<h2>Ajout d'un jeux</h2>

    	{{form(form)}}
	
	</section>
{% endblock %}

